body {
    font-family: 'Golos Text', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tilt Warp', cursive;
    background-image: url(9150.png_300.png);
    background-repeat: no-repeat;
    background-size: 200px;

}

.orange {
    color: rgba(182, 26, 12, 0.792);
}

.flexible-container {
    display: flex;
}

h1 {
    font-size: 30px;
}

.arif {
    width: 50%;

}

.img {
    width: 300px;
    height: 300px;
    padding-left: 200px;
    padding-top: 50px;
}

.link-button {
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.half {
    width: 50%;
}

.img2 {
    width: 50%;
    padding-top: 30px;
}

.ridoy {
    width: 40%;
    box-shadow: 20px 20px 30px gray;
    padding: 2%;
    margin: 5%;
    border-left: 5px solid blueviolet;
    border-radius: 8px;
}

.yellow {
    color: rgb(11, 11, 158);
}

.hasan {
    text-align: center;
}

.top-you {
    background-image: url(9150.png_300.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
}